@import "./simple-grid.min.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Lato, Helvetica, sans-serif;
    line-height: 1;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
}

@font-face {
    font-family: 'Unbounded';
    src: url('../font/Unbounded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-unbounded {
    font-family: 'Unbounded', serif;
}



.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.jus-beet {
    justify-content: space-between;
}

.jus-cen {
    justify-content: center;
}

.p-button {
    color: #202020;
    border-radius: 12px;
    background: #CDF04C;
    border-color: #CDF04C;
    padding: 1rem 2rem;
    font-size: .75rem;
}

.p-button-label {
    line-height: 1 !important;
    font-weight: 500;

}

.h-screen {
    height: 100vh;
}

.min-h-full {
    min-height: 700px;
    height: auto;
}

.app {
    min-height: 100vh;
    background: #f9f7ff;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
    min-height: 400px;
}

.wrapper_full {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px !important;
}

.flex-grow {
    flex-grow: 1;
}

.main_content {
    background: #fff;
    border-radius: 20px;
    padding: 36px 18px;
}

.main_content_title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 32px;
    text-align: center;
}

.m-0 {
    margin: 0;
}

.p-stepper .p-stepper-header .p-stepper-action .p-stepper-number {
    border: none;
    background: #F1ECFF;
}

.p-stepper-panels {
    /* height: calc(100% - 100px); */
    height: auto;
    /* max-height: calc(100vh - 330px); */
    /* min-height: 500px !important; */
}

.p-stepper-content {
    height: 100%;
}

.p-stepper .p-stepper-header.p-highlight .p-stepper-number {
    color: #fff;
    background: #29265B;
    border: none;
}


.p-stepper .p-stepper-separator {
    height: 4px;
    background: #F1ECFF;
}

.step0 .p-stepper-nav>.p-stepper-header:first-of-type .p-stepper-number {
    color: #fff;
    background: #29265B;
}

.step1 .p-stepper-nav>.p-stepper-header:nth-of-type(2) .p-stepper-number {
    color: #fff;
    background: #29265B;
}

.step1 .p-stepper-nav>.p-stepper-header:first-of-type .p-stepper-separator {
    background: #29265B !important;
}

.step2 .p-stepper-nav .p-stepper-header .p-stepper-separator {
    background: #29265B !important;
}



.p-dropdown.p-focus,
.p-inputtext {
    outline: none;
}





.btn-r {
    border-radius: 12px !important;
}

.bg-green {
    background: #CDF04C !important;
}

.drop-down,
.number_input .p-inputtext {
    padding: 15px;
    font-size: 16px;
    color: #4f4f4f;
    font-weight: 500;
    border: 1px solid #e5e3ff;
    background: #f9f7ff;
    border-radius: 6px;
    outline: none;
    height: 48px;
    -webkit-user-select: none;
}

.p-datepicker,
.p-datepicker .p-datepicker-header {
    border: none;
    background: transparent;
}

.step2 .p-datepicker .p-datepicker-header {
    margin: 10px 0;
}

.step2 .p-datepicker.p-datepicker-mobile table th,
.step2 .p-datepicker.p-datepicker-mobile table td {
    padding: 4px;
}

.step2 .p-datepicker-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.step2 .p-datepicker-month {
    color: #222B45;
    font-size: 20px;
}

.step2 .p-datepicker-year {
    color: #8F9BB3;
    font-size: 12px;
}

.step2 .p-datepicker-prev,
.step2 .p-datepicker-next {
    width: 34px;
    height: 34px;
    border: 1px solid #E5E3FF;
    border-radius: 8px;
    background: #fff;
}

.step2 .p-datepicker-group {
    padding-bottom: 10px;
}

.bg-main {
    background: #F9F7FF;
}

.bor-main {
    border-color: #f9f7ff;
}

.p-datepicker table td>span.p-highlight {
    color: #fff;
    background: #29265B;
    border-radius: 12px;
}

.p-datepicker table td>span {
    border-radius: 12px;
}

.p-datepicker table td>span:focus {
    outline: none;
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
    color: #29265b !important;
}

.selected-manager .p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
    color: #fff !important;
}

.dialog-review .p-dialog-content {
    height: auto;
    max-height: 320px;
    padding: 10px;
}

.dialog-review .p-dialog-header-icons {
    display: none;
}

.underline-1 {
    text-decoration: underline;
    text-underline-offset: 1px;
}

.dialog-review {
    border: 1px solid #E5E3FF;
}

.p-dialog .p-dialog-header,
.p-dialog .p-dialog-content {
    background: #F9F7FF !important;
}

.loc_input .p-inputtext {
    padding: 10px;
    border-color: #E5E3FF;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: #fff;
    background: #29265b;
}

.p-tag-value {
    font-size: 16px;
}